<!DOCTYPE html>
<html lang="en">
{{>headers}}
<body>
    {{>navbar}}
    <h2 class="is-size-1 is-family-sans-serif has-text-weight-bold has-text-centered">About the App</h2><br>
    <div class="column" style="text-align: center;">
        <p style="padding: 20px; text-align:center;" class="is-family-sans-serif">
            The app is a test of express, mongoDB, and mongoose. It was created to further
            advance my knowledge of server-side development.<br><br>
            For more projects: check out my GitHub <a href="https://github.com/S-M-J-I">here</a>. Don't forget to give me a follow!! Back to talking about this app.<br><br>
        </p>
        
        <p style="padding: 20px; text-align:center;">
            <h1 class="is-size-3 is-family-sans-serif has-text-weight-bold">How to Use</h1>
            You simply <a href="/users/signup">sign up</a> and create an account. You will be automatically redirected to your dashboard.<br>
            On the top-right corner of your dashboard, you'll see a "My Tasks" option. Click on that and start organizing your day!!<br>
            <b>NOTE: when logging in again, you'll be redirected instantly to your tasks list. Simply click on your name to go to your Dashboard</b>
        </p>

        <p style="padding: 20px; text-align:center;">
            <h1 class="is-size-3 is-family-sans-serif has-text-weight-bold">Features</h1>
        </p>
    </div>
</body>
</html>