<!DOCTYPE html>
<html lang="en">
{{>headers}}
<body>
    {{>navbar}}
    <h2 class="is-size-1 is-family-sans-serif has-text-weight-bold has-text-centered">About the App</h2><br>
    <div class="column">
        <p style="padding: 20px;">The app</p>
    </div>
</body>
</html>