<!DOCTYPE html>
<html lang="en">
{{>headers}}
<body>
    {{>navbar}}
    <div style="position:fixed; top:50%; left:50%; transform: translate(-50%, -50%);" class="columns is-centered">
        <h1 class="is-size-1 is-family-sans-serif has-text-weight-bold	has-text-centered">
            {{err}}
        </h1>
    </div>
</body>
</html>