<!DOCTYPE html>
<html lang="en">
{{>headers}}

<body>
    {{>navbar}}
    <div class="column" style="margin-top: 15%;">
        <h1 class="is-size-1 is-family-sans-serif has-text-weight-bold	has-text-centered" style="display: flex;justify-content:center; align-items:center; text-align:center;">
            The Task App<br>
            <h2 class="is-size-3 is-family-sans-serif has-text-centered">The app to manage your daily life.</h2>
        </h1>
    </div>
</body>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>

</html>