<!DOCTYPE html>
<html lang="en">
{{>headers}}
<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <form action="/users/me/update" method="GET">
                            <button class="button is-link" type="submit">Update</button>
                        </form>
                        <form action="/users/logoutAll" method="POST">
                            <button class="button is-light" type="submit">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="column">
        <h1 class="is-size-1 is-family-sans-serif has-text-weight-bold">{{user.name}}</h1>
    </div>
</body>

</html>