<!DOCTYPE html>
<html lang="en">
{{>headers}}
<body>
    {{>navbar}}
    <h2 class="is-size-1 is-family-sans-serif has-text-weight-bold	has-text-centered">Sign Up</h2><br>
    <div class="columns is-centered">
        <div class="is-half">
            <form action="/users/signup" method="post">
                <div class="field">
                    <label class="label" for="name">Enter name</label>
                    <input type="text" class="input" name="name" placeholder="John Doe" size="33">
                </div>
                <div class="field">
                    <label class="label" for="email">Enter email</label>
                    <input class="input" type="text" name="email" placeholder="johndoe@gmail.com">
                </div>
                <div class="field">
                    <label class="label" for="password">Enter password</label>
                    <input class="input" type="password" name="password" placeholder="At least 8 characters.">
                </div>
                <div class="field">
                    <label for="age" class="label">Enter age</label>
                    <input type="text" class="input" name="age" placeholder="Must be 16 or older">
                </div>
                <button type="submit" class="button is-link is-outlined is-centered is-fullwidth">Sign Up</button>
            </form>
            <br>
            <p style="text-align: center; color: red;">{{err}}</p>
        </div>
    </div>
</body>
</html>